{% extends 'layouts/admin.html.twig' %}

{% block content %}
    <h1>Create Article</h1>

    {{ form(form) }}

    <div>
        <a href="{{ path('admin_article_index') }}">Back to listing</a>
    </div>
{% endblock %}